@import url("https://uilight.netlify.app/main.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

body {
  font-family: sans-serif;
  background: url(./photo/back.jpg);
}

.main{
    background: url(./photo/front.jpg);
    margin:2rem;
    margin-left: 30%;
    width: 40%;
    height: 53%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.heading-1 {
  margin-top: 3rem;
  margin-left: 2%;
}

.form {
  margin : 1.5rem;
  width: 30vw;
}

.input-container {
  padding: 8px 0;
}

.input {
  width: 100%;
  font-size: 1.25rem;
  padding: 8px 4px;
}

.input:focus {
  outline: none;
}

.gutter-small {
  padding: 0.5rem 0;
}

.error {
  border: 2px solid red;
}

.error:focus {
  outline: 2px solid red;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.relative {
  position: relative;
}

.btn {
  top: 2.8rem;
  right: 8px;
}

.button {
  width: 100%;
}

.gap {
  gap: 4px;
}

.ul {
  list-style-type: disc;
  margin-left: 1rem;
}

.list {
  color: red;
}

.error-message,
.empty-field {
  color: red;
}

.container {
  margin-left: 15%;
  border: none;
  align-items: center;
}

footer {
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
  }
  footer span a {
    color: lightgreen;
    text-decoration: none;
  }
  footer span a:hover {
    text-decoration: underline;
  }
  
  footer .icons{
    font-size: larger;
  }